<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="<%= author %>">
    <title><%= title %></title>

    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
</head>
<body>
<noscript>
    <div>
        You need to enable JavaScript to run this app.
    </div>
</noscript>
<div id="app-root"></div>
</body>
</html>
