{
  "plugins": ["dynamic-import-webpack", "syntax-dynamic-import"],
  "presets": [
    ["env", {
      "targets": {
        "uglify": true
      }
    }],
    "react",
    "stage-0"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["transform-remove-console"]
    }
  }
}
