# Can be dev or prod
# If you want to deploy CBatmo to your Pi and just using it please use prod
# If you want to contribute or make any change of CBatmo use dev
APP_ENV=dev

# Secret key to login to cbatmo
APP_SECRET=

# Darksky key
# Get a Darksky secret key from dev area : https://darksky.net/dev
DARKSKY_SECRET_KEY=

# OpenWeather key
# Get an OpenWeather API key from dev area : https://openweathermap.org/
OPENWEATHER_API_KEY=

# Netatmo
# Get a Netatmo credential from dev area : https://dev.netatmo.com/
NETATMO_CLIENT_ID=
NETATMO_CLIENT_SECRET=
