# IDE
.idea/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# System Files
.DS_Store
Thumbs.db
views/index.ejs
/rpi/infomaniak_deploy.sh
