.card {
  position: relative;
  background: $card-bg;
  margin-bottom: 12px;
  border-radius: 2px;
}
.card-body {
  padding: 5px 10px;
}
.card__header {
  position: relative;
  padding: 10px 16px;
  font-size: 13px;
  background-color: rgba(57, 70, 80, 0.3);
  color: #edeff0;
  text-transform: uppercase;
  border-radius: 2px 2px 0 0;
}
