.flot-chart:not(.flot-chart--sm):not(.flot-chart--lg) {
  height: 200px;
}
.flot-chart-edge {
  overflow: hidden;
}
.flot-chart-edge .flot-chart {
  margin: 0 -10px 0;
  position: relative;
  bottom: -9px;
}
.flot-chart--sm {
  height: 70px;
  width: 96%;
  margin-bottom: 10px;
}
.flot-chart--lg {
  height: 300px;
}
.flot-tooltip {
  position: absolute;
  color: #b4bfc3;
  display: none;
  font-size: 12px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  background-color: #1e2a31;
  z-index: 99999;
  border-radius: 2px;
}
.flot-chart-legend {
  text-align: center;
  margin: 10px 0 5px;
}
.flot-chart-legend table {
  display: inline-block;
}
.flot-chart-legend .legendColorBox > div {
  border: 0 !important;
}
.flot-chart-legend .legendColorBox > div > div {
  border-radius: 50%;
}
.flot-chart-legend .legendLabel {
  padding: 0 8px 0 3px;
  color: #8a9ba1;
}
