.form-group--centered, .form-group--centered .form-control {
  text-align: center;
}

.form-group--float {
  margin-top: 30px;
}
.form-group {
  position: relative;
}
.form-group {
  margin-bottom: 15px;
}

.form-group > label:not(.control-label) {
  width: 100%;
}
.form-group--float > label {
  bottom: 28px;
}
.form-group--float > label {
  color: rgba(177, 188, 192, 0.47);
  left: 0;
  position: absolute;
  font-size: 13px;
  margin: 0;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.form-group > label {
  font-weight: normal;
  pointer-events: none;
}
label {
  display: inline-block;
  max-width: 100%;
}

.form-group__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.form-group__bar:before {
  left: 50%;
}
.form-group__bar:before, .form-group__bar:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 0;
  bottom: 0;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #edeff0;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-group__bar:after {
  right: 50%;
}


.form-control, .form-control:active, .form-control:focus {
  box-shadow: none !important;
}
.form-group--centered, .form-group--centered .form-control {
  text-align: center;
}
.form-control:focus {
  border-color: rgba(255, 255, 255, 0.1);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}
*, *:active, *:active, *:hover {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.form-control {
  resize: none;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #b4bfc3;
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid #31424b;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

