.homescreen-app-info {
  position: absolute;
  padding-top: 10px;
  left: 0;
  top: 0;
  right: 0;
}

.homescreen-clock {
  text-align: center;
  padding-top: 50px;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 178px;
  }

  .homescreen__date {
    font-size: 18px;
  }

  .home_screen__day {
    font-size: 46px;
    color: $white;
  }
}

.homescreen-forecast {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  color: $white;
}

.homescreen-weather {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 12px;
  border-top: 0.5px solid $body-color;
  background: $card-bg;
  //background: linear-gradient(to right, $card-bg, $card-bg-2);

  .inline {
    display: inline-block;
    padding-right: 10px;
    //padding: 0 8px;
  }

  .col-1 {
    width: 33.33333333%;
    float: left;
    border-right: 0.5px solid $body-color;
    padding-left: 12px;
  }

  .col-2 {
    width: 66.66666667%;
    float: left;
  }

  .no-right-border {
    border-right: none !important;
  }

  .col-hourly {
    width: 20%;
    float: left;
    border-right: 0.5px solid $body-color;
    text-align: center;
    height: 100%;
    padding-top: 2px;

    .icon {
      font-size: 52px;
      padding-top: 20px;
    }

    .temp {
      font-size: 15px;
      color: $white;
      padding-top: 9px;
      padding-bottom: 14px;
    }

    .label {
      font-size: 14px;
    }
  }

  .current-condition {
    //margin-top: 8px;

    .main-icon {
      display: inline-block;
      font-size: 84px;
      padding-top: 18px;
    }

    .main-temp-box {
      display: inline-block;
      padding-left: 16px;

      .min-max-temp {
        display: inline-block;
        font-size: 12px;
        line-height: 1.4;
        padding-left: 6px;
      }

      .main-temp {
        font-size: 34px;
        color: $white;

        .main-temp-label {
          font-size: 14px;
          color: $body-color;
        }
      }
    }
  }

  .day-forcast {

  }
}
