.login {
  position: relative;
  height: 100%;
  width: 100%;
  //overflow: auto;
  text-align: center;
}

.login__block {
  max-width: 320px;
  width: 100%;
  display: none;
  border-radius: 2px;
  background-color: $card-bg;
  margin-top: 46px;
}

.login__block.toggled {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 10;
  display: inline-block;
}

.login__block__header {
  padding: 20px;
  border-radius: 2px 2px 0 0;
  background-color: $card-bg-2;
  color: $white;
  position: relative;
}
.login__block__header i {
  display: block;
  margin-bottom: 5px;
  font-size: 40px;
  color: $body-color;
}

.login__block__body {
  padding: 10px 30px 35px;
}
