.content__header .actions {
  position: absolute;
  right: 0;
  top: -5px;
  z-index: 4;
}
.actions-weather {
  color: rgba(177, 188, 192, 0.47);
  padding-top: 6px;
}

.weather-padding-left {
  padding-left: 12px;
}

.chart-weather-line {
  max-height: 85px;
  height: 85px;
  width: 100%;
}

.battery-percent {
  color: rgba(177,188,192,0.47);
  margin-right: 6px;
}

.card-body-weather-content {
  position: relative;
  padding-top: 10px;
  margin-bottom: 6px;
  font-size: 15px;

  .wi {
    font-size: 16px !important;
  }

  .temperature {
    position: absolute;
    font-size: 27px;
    font-weight: 500;
    color: $white;

    .wi {
      color: $yellow;
    }
  }

  .hpa {
    position: absolute;
    right: 0;
    top: 18px;
    font-size: 16px;
    font-weight: 400;
    color: $white;

    .wi {
      color: $green;
    }
  }

  .humidity {
    position: absolute;
    top: 54px;
    font-size: 16px;
    font-weight: 400;
    color: $white;

    .wi {
      color: $blue;
    }
  }

  .noise {
    position: absolute;
    top: 54px;
    left: 65px;
    font-size: 16px;
    font-weight: 400;
    color: $white;

    .wi {
      color: $purpule;
    }
  }

  .co2 {
    position: absolute;
    top: 54px;
    right: 0;
    font-size: 16px;
    font-weight: 400;
    color: $white;

    .wi {
      color: #009688;
    }
  }

  .rain {
    position: absolute;
    font-size: 27px;
    font-weight: 500;
    color: $white;

    .wi {
      color: $blue;
    }
  }

  .rain24 {
    position: absolute;
    top: 54px;
    font-size: 16px;
    font-weight: 400;
    color: $white;

    .wi {
      color: #009688;
    }
  }
}

.module-main {
  .col1 {
    width: 66.66666667%;
    float: left;
  }

  .col2 {
    width: 33.33333333%;
    float: left;
  }
}

.module-internal {
  display: inline-block;
  width: 58.33333333%;

  .col1 {
    width: 60.33333333%;
    float: left;
  }

  .col2 {
    width: 39.66666667%;
    float: left;
  }
}

.module-rain {
  display: inline-block;
  padding-left: 10px;
  width: 41.66666667%;

  .col1 {
    width: 58.33333333%;
    float: left;
  }

  .col2 {
    width: 41.66666667%;
    float: left;
  }
}

.module-external {
  display: inline-block;
  width: 58.33333333%;

  .col1 {
    width: 80.66666667%;
    float: left;
  }

  .col2 {
    width: 19.33333333%;
    float: left;
  }
}

.module-wind {
  display: inline-block;
  padding-left: 10px;
  width: 41.66666667%;

  .col1 {
    position: relative;
    width: 33.33333333%;
    float: left;
  }

  .col2 {
    width: 66.66666667%;
    float: left;
  }

  .wind-icon {
    position: absolute;
    left: 9px;
    top: 0;
    font-size: 82px;
    color: $white;
  }
}