@import "~@mdi/font/css/materialdesignicons.css";
@import "~weather-icons2/css/weather-icons.css";
@import "~weather-icons2/css/weather-icons-wind.css";
@import "~reboot.css/dist/reboot.css";

@import "~@blueprintjs/core/lib/css/blueprint.css";

body {
  user-select: none;
  overflow: hidden;
}

.background {
  background-color: #262D37;
}

.background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/world_map_point.png');
  z-index: 0;
}

.text-glow {
  //text-shadow: 0 0 5px $white;
  font-weight: 600;
}

/** Layouts **/
.main-layout {
  z-index: 10;
  height: 100vh;
  display: flex;

  .info-layout {
    display: flex;
    flex-direction: column;
    width: 240px;

    .datetime-layout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 4px;

      .time {
        font-size: 4rem;
        font-weight: 700;
      }

      .date {
        font-style: italic;
      }
      .date::first-letter {
        text-transform: capitalize;
      }
    }

    .weather-layout {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 10px;
    }
  }

  .netatmo-layout {
    flex: 1;
  }
}

/** Starting page **/
.starting-page-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;

    .loader {
      display: flex;
      align-items: center;
      padding: 36px;
      height: 132px;
    }

    .title {
      text-transform: uppercase;
    }

    .description {
      width: 400px;
      text-align: center;
    }
  }

  .footer {
    height: 28px;
    font-size: 0.8rem;
  }
}

/** Weather style **/
.current-weather {
  display: flex;
  justify-content: space-between;

  .current-icon {
    font-size: 3.5rem;
    min-width: 96px;
  }
  .current-temperature-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;

    .current-temperature {
      font-size: 2.5rem;
      font-weight: 400;
      align-items: end;
    }
    .current-temperature-min_max {
      display: flex;
      justify-content: space-around;
      font-size: 0.75rem;
      width: 100%;
    }
  }
}

.weather-days-wrapper {
  padding: 8px;

  .weather-day-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .label {
      font-size: 0.8rem;
    }
    .label::first-letter {
      text-transform: capitalize;
    }
    .icon {
      font-size: 1.8rem;
    }
    .temperature-wrapper {
      display: flex;

      .temperature {
        width: 44px;
      }
    }
  }
}

.sunset-sunrise-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}


/** Netatmo **/
.module-unreachable {
  display: flex;
  align-items: center;

  .icon {
    padding-right: 8px;
  }
  .description-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;

    .description-small {
      font-size: 0.6rem;
    }
  }
}

.module-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .values {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .value {
      padding-top: 8px;
      font-weight: 600;
    }
  }
}

.netatmo-wrapper {
  padding: 10px;
  display: flex;
  align-items: start;
  flex-direction: column;
  flex: 1;

  .netatmo-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
  }

  .netatmo-content {
    flex: 1;
  }
}

/** Blueprint **/
.card-bg-translucent {
  background-color: rgba(48, 64, 77, 0.7) !important;
  padding: 0 !important;

  .card-header {
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
    border-bottom: 1px solid rgba(16, 22, 26, 0.4);

    .title-and-values {
      display: flex;

      .title {
        font-weight: bold;
        margin-right: 20px;
      }
    }
  }

  .card-body {
    padding: 8px;
  }
}
