@import "~@mdi/font/css/materialdesignicons.css";
@import "~weather-icons2/css/weather-icons.css";
@import "~weather-icons2/css/weather-icons-wind.css";
@import "~reboot.css/dist/reboot.css";

@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "variables";

@font-face {
  font-family: 'Digital-7';
  src: url('digital-7 (mono).eot');
  src: url('digital-7 (mono).eot?#iefix') format('embedded-opentype'),
  url('digital-7 (mono).woff') format('woff'),
  url('digital-7 (mono).ttf') format('truetype'),
  url('digital-7 (mono).svg#Digital-7') format('svg');
}

body {
  user-select: none;
  overflow: hidden;
  font-family: 'Digital-7',sans-serif;
  color: $white;
  font-size: 1.2rem;
  line-height: 1;
}

.background {
  background-color: $dark;
}

.background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/world_map_point.png');
  z-index: 0;
}

/** Module container **/
.module-container {
  position: relative;
  padding: 10px;
  max-width: 266px;
  min-width: 240px;

  .item-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;

    .label {
      background-color: $blue;
      padding: 1px 6px;
    }

    .horizontal-top-divider {
      border-top: 1px solid $gray;
      flex: 1;
      margin: 0 8px 0 4px;
    }
  }

  .vertical-right-divider {
    position: absolute;
    top: 4px;
    right: 0;
    bottom: 4px;
    border-right: 1px solid $gray;
    //margin: 8px 0 8px 0;
  }

  .sub-label {
    font-size: 1rem;
  }
}

/** Modules **/
.module-unreachable {
  display: flex;
  align-items: center;
  padding-top: 12px;

  .description {
    font-size: 1rem;
    margin-left: 12px;
  }
}

.modules-layout {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  font-size: 2.8rem;

  small {
    font-size: 1.2rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }
}

/** Layouts **/
.main-layout {
  z-index: 10;
  height: 100vh;
  display: flex;
}

.dashboard-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  //flex: 1;

  .datetime-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .time {
      font-size: 4.8rem;
      line-height: 0.8;
      padding-top: 20px;
      //font-weight: 700;

      small {
        margin-left: 4px;
        font-size: 3rem;
      }
    }

    .date {
      //font-size: 1.6rem;
    }

    .sun {
      padding-top: 2px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      .sunrise {
        font-size: 1rem;
        padding-bottom: 2px;
      }
      .sunset {
        font-size: 1rem;
        padding-bottom: 2px;
        text-align: right;
      }
    }
  }
}

/** Starting page **/
.starting-page-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;

    .loader {
      display: flex;
      align-items: center;
      padding: 36px;
      height: 132px;
    }

    .title {
      text-transform: uppercase;
    }

    .description {
      width: 400px;
      text-align: center;
    }
  }

  .footer {
    height: 28px;
    font-size: 1rem;
  }
}
